fastapi
uvicorn
pydantic
PyPDF2
python-docx
pandas
openpyxl
redis
pymongo
certifi
sentence-transformers
langchain-huggingface
langchain-core
langchain-mongodb
langchain-community
langchain-classic
langchain-groq
python-dotenv
